.hotel-image-container{
    height: 30rem;
}
.primary-image-container{
    height: 30rem;

}
.hotel-img{
    height: 50%;
    width: 20vw;
}
.hotel-primary-image{
    width: 40vw;
    height: 100%;
}
.gap-small{
    gap: 8px;
}